@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body,html {
  background: var(--Grey-08, #141414);
  font-family: "Urbanist", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.navbar{
  background: var(--Grey-10, #1A1A1A);
}
.herosection {
  height: 100%;
  background: linear-gradient(238deg, #2A213F 8.76%, rgba(25, 25, 25, 0.00) 50.09%), url("/images/herobannerimage.svg") #191919 50% / cover no-repeat;
}